[class*="icon-"] {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-image: url(../images/sprites.svg);
	background-repeat: no-repeat;
}
.icon-download {
	background-position: 0 0;
	background-size: 1em;
	width: 1em;
}
.icon-pencil {
	background-position: -48px 0;
	background-size: 1em;
	width: 1em;
}
.icon-remove {
	background-position: -96px 0;
	background-size: 1em;
	width: 1em;
}
.icon-folder {
	background-position: -144px 0;
	background-size: 1em;
	width: 1em;
}
